* {
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}




.fp-section {
  height: 100vh !important;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* .fp-tooltip {
  top: 0 !important;
} */

/* GENERAL STYLES */

.justify {
  display: flex; 
  justify-content: center;
}

.align {
  display: flex;
  align-items: center;
}

.page-butn-row {
  display: flex;
  justify-content: center;
}

  .go-to-butn {
    width: fit-content !important;
    color: white !important;
    border: 2px solid white !important;
  }

  .go-to-butn:hover {
    color: black !important;
    background-color: white;
  }

/* DESKTOP HOMEPAGE */

.desktop-home-container h1 {
  font-size: 3.5vw;
}

.desktop-home-container h2 {
  font-size: 2.5vw;
  padding-bottom: 10vh;
}

/* DESKTOP ABOUT ME */
.about-me-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5vh;
}
  .about-me-text {
    width: 70%;
    padding-top: 2vh;
  }

/* DESKTOP SKILLS */
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-top: 5vh;
}

  .skills-header-container {
    display: flex;
    flex-direction: column;
  }
    .desktop-skills-grid {
      padding-top: 5vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      width: 70%;
    }

      .skill {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: center;
      }

        .skill i {
          font-size: 3rem;
          justify-self: center;
        }

        .skill img {
          height: 50px;
          justify-self: center;
        }

/* DESKTOP PROJECTS */

.desktop-projects-container {
  display: grid;
}

  .desktop-proj-tab-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 30px;
    width: 83%;
    justify-self: center;
  }

    .tab,
    .active-tab {
      border-bottom: 1px solid white;
      font-size: 1rem;
      padding: 10px;
    }

    .active-tab {
      border-bottom: 0;
      border-top: 1px solid white;
      border-right: 1px solid white;
      border-left: 1px solid white;
    }

    .tab:hover {
      border: 1px solid white;
    
    }

    .ipad-img {
      width: 60%;
      height: auto;

    }

    .iphone-img {
      width: 23%;
      height: auto;
    }

  .desktop-proj-butn-row {
    display: flex;
    justify-content: center;
    gap: 20%;
    padding-top: 20px;
  }

    .demo-butn,
    .code-butn {
      color: white;
      outline: 2px solid white;
      width: fit-content;
    }

    .demo-butn:hover,
    .code-butn:hover {
      background-color: white;
      color: black;
    }

    
